/*
Theme Name: Empedrada Lodge
Theme URI: http://underscores.me/
Author: EdgardoT
Author URI: https://edgardo.tupino.com
Description: Custom Theme for Empedrada Lodge Caral - Request by SideQuest
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: empedrada
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Empedrada Lodge is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/* normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}@font-face{font-family:'Flood std';font-style:normal;src:url("fonts/flood-std/FloodStd.otf")}@font-face{font-family:'Gotham Bold';font-style:bold;src:url("fonts/gotham-family/gotham-bold.ttf")}@font-face{font-family:'Gotham Book';font-style:normal;src:url("fonts/gotham-family/gotham-book.otf")}@font-face{font-family:'Gotham Thin';font-style:ligth;src:url("fonts/gotham-family/gotham-thin.ttf")}.button-brand{font-family:'Gotham Book',sans serif !important;font-size:20px;font-weight:bold;color:#fff;border-radius:2px;padding:20px 60px;background:#cfba2c;text-decoration:none;cursor:pointer;text-align:center;letter-spacing:1px;}.button-brand a{color:#fff;}.button-brand a:hover{color:#cfba2c !important}.button-brand p{margin:0 !important;letter-spacing:1px;}.button-brand p:hover{color:#cfba2c !important}.button-brand:hover{background:#fff;border:#999;text-decoration:none;color:#cfba2c !important;}.button-brand:hover a{color:#cfba2c;text-decoration:none}.button-brand:hover p{color:#cfba2c}.button-brand:active{background:#fff;color:#cfba2c;border:#999;text-decoration:none}.button-transparent{border:solid #fff 1px;text-align:center;width:80%;}.button-transparent a{color:#fff;text-decoration:none;}.button-transparent a:hover{text-decoration:none}.button-transparent p{padding:10px 20px !important;margin:0}.button-transparent:hover{opacity:.7}.button-terms{border:solid 1px #978376;text-align:center;}.button-terms:hover{opacity:.7}.button-terms-up{border-radius:5px 5px 0 0}.button-terms-down{border-radius:0 0 5px 5px}.button-terms-active{background-color:#978376;}.button-terms-active a{color:#fff}.button-terms-disable{background-color:#fff;}.button-terms-disable a{color:#978376}.button-terms a:hover{text-decoration:none}@media only screen and (max-width:768px){.button-transparent{width:100%}}input[type="text"],input[type="email"]{border:solid 1px #dcdcdc;-webkit-box-shadow:none;box-shadow:none;padding:15px;color:#a7a7a7 !important;}input[type="text"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder{color:#a7a7a7 !important}input[type="text"]:-ms-input-placeholder,input[type="email"]:-ms-input-placeholder{color:#a7a7a7 !important}input[type="text"]::-ms-input-placeholder,input[type="email"]::-ms-input-placeholder{color:#a7a7a7 !important}input[type="text"]::placeholder,input[type="email"]::placeholder{color:#a7a7a7 !important}textarea{border:solid 1px #dcdcdc;padding:25px;color:#a7a7a7;}textarea::-webkit-input-placeholder{color:#a7a7a7 !important}textarea:-ms-input-placeholder{color:#a7a7a7 !important}textarea::-ms-input-placeholder{color:#a7a7a7 !important}textarea::placeholder{color:#a7a7a7 !important}input[type="submit"]{background-color:#cfba2c;-webkit-box-shadow:none;box-shadow:none;border:none;color:#fff;text-align:right;padding:10px 40px;cursor:pointer;}input[type="submit"]:hover{opacity:.7}@media only screen and (max-width:768px){input[type="text"],input[type="email"],textarea{width:100%}.contact-main{padding:0 !important}}.page-template-template-page-contact #content{background-color:#edebeb}.contact-main{padding:0 10%;}.contact-main label{margin-bottom:0 !important}.contact-inputs{text-align:center}.contact-message{text-align:center}.contact-submit{text-align:right}.site-footer{background:#b5a48a}.site-info{background:#978376}.foote-widget-container{padding-top:50px;}.foote-widget-container .widget-item{color:#fff;}.foote-widget-container .widget-item h2{font-size:15px;margin-bottom:0 !important;font-weight:bold}.foote-widget-container .widget-item ul{padding:0 !important;}.foote-widget-container .widget-item ul li{list-style:none;}.foote-widget-container .widget-item ul li a{color:#fff;font-size:13px;font-weight:100;text-decoration:none;}.foote-widget-container .widget-item ul li a:hover{opacity:.7}.footer-social-main{text-align:center;margin:0 auto;width:30%;display:block;}.footer-social-main .footer-social-p{display:inline-block;}.footer-social-main .footer-social-p p{font-family:'Flood std',sans serif;color:#fff;margin:5px 20px !important}.footer-social-main .footer-social-icons{display:inline-block;}.footer-social-main .footer-social-icons a{color:#fff;margin:0 5px}.footer-copyrigth{color:#fff;text-align:center;font-size:10px;margin-bottom:20px !important}.site-info-container{text-align:center;padding:20px 0;}.site-info-container a{color:#fff;text-decoration:none}@media only screen and (max-width:768px){#media_image-2{text-align:center}.foote-widget-container .widget-item{margin:30px 0}.footer-social-main{width:100%;margin:0 auto}}.gallery-page-item{margin:20px 0;}.gallery-page-item img{width:100%;height:auto !important}.empedrada-gallery-title h2{letter-spacing:1px}.gallery-container{margin-top:5%}.gallery-bar-category{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around}.nav-pills .nav-link.active{border:solid #4e4e4e !important;border-radius:0 !important;background-color:#fff !important;color:#4e4e4e !important;font-weight:bold !important;padding:10px 30px !important;text-align:center !important;margin:0 !important}.nav-pills .nav-link{border:solid #fff !important;border-radius:0 !important;background-color:#fff !important;color:#4e4e4e !important;font-weight:bold !important;padding:10px 30px !important;text-align:center !important;margin:0 !important}.modal-dialog{max-width:800px !important;width:auto !important}.modal-content{background-color:transparent !important;border:none !important}.modal-body img{width:100% !important;height:auto !important}.modal-backdrop.show{opacity:.8 !important}.empedrada-slider{position:relative}.empedrada-hero-slider img{width:100%}.empedrada-hero-reservation-container{position:absolute;bottom:-15%;width:100%;max-width:100%}.empedrada-hero-reservation-item{width:55%;text-align:center;margin:0 auto;padding:2.8%;left:27.5%;background:#978376;}.empedrada-hero-reservation-item h2{font-family:'Gotham Bold',sans serif !important;font-size:30px;font-weight:bold;line-height:35px;color:#fff;letter-spacing:1px;display:inline-block;margin:0 30px}.empedrada-hero-reservation-item a{display:inline-block;}.empedrada-hero-reservation-item a p{font-family:'Gotham Bold',sans serif !important;font-size:18px;font-weight:bold;line-height:30px;color:#fff;letter-spacing:1px}.empedrada-homePage-banner h1{font-size:36px;font-weight:bold;line-height:48px;color:#fff;letter-spacing:1px;font-family:'Flood std',sans serif;width:100%;position:absolute;top:20%;margin:0;text-align:center;padding:8% 0 0 0;height:100%}@media only screen and (min-width:768px) and (max-width:1200px) and (orientation:landscape){.empedrada-hero-reservation-item{width:70% !important;padding:30px 30px !important}}@media only screen and (max-width:768px){.empedrada-homePage-banner{height:300px;}.empedrada-homePage-banner img{height:100%}.empedrada-hero-reservation-container{display:none !important}.empedrada-hero-reservation-container{position:relative !important}.empedrada-hero-reservation-item{width:100%;padding:5%;}.empedrada-hero-reservation-item h2{font-size:23px;font-weight:bold;line-height:35px;color:#fff;letter-spacing:1px;margin:0}}header .site-branding{position:absolute !important;z-index:99 !important;}header .site-branding a img{width:80% !important;height:auto !important}#primary-menu{display:block !important;padding:10px 0;}#primary-menu li.current_page_item a{color:#cfba2c}#primary-menu li{display:inline-block !important;padding:20px 0;margin:0 20px;}#primary-menu li a{color:#978376;text-decoration:none;font-size:12px;}#primary-menu li a:hover{color:#4a4a4a}.nav-language p{padding:10px 0}.nav-language .btn-group{width:100%;height:100%;}.nav-language .btn-group .btn-lang{border-radius:0 !important;width:100%;background:#fff !important;color:#978376;font-weight:bold;letter-spacing:2px;}.nav-language .btn-group .btn-lang:focus{border:none !important;-webkit-box-shadow:none !important;box-shadow:none !important}.nav-social-icons ul{display:block;padding:10px 0;}.nav-social-icons ul li{display:inline-block;padding:20px 0 !important;margin:0 10px;}.nav-social-icons ul li a{color:#978376;}.nav-social-icons ul li a:hover{opacity:.7}.main-navigation .menu-toggle{display:none}.site-call-to-action{background-color:#cfba2c;text-align:center;padding:10px 0;letter-spacing:1px;}.site-call-to-action:hover{opacity:.85}.site-call-to-action a{text-decoration:none;color:#fff}.hidden-sm-up{display:none}.select-lang-emp{height:100%;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.select-lang-emp label{display:none}select#lang_choice_polylang-2{background:#fff !important;padding:10%;border-radius:10px;border-color:transparent;color:#808080;}select#lang_choice_polylang-2:focus{outline:none;border:none;border-color:transparent}select#lang_choice_polylang-3{background:#fff !important;padding:10%;border-radius:10px;border-color:transparent;color:#808080;}select#lang_choice_polylang-3:focus{outline:none;border:none;border-color:transparent}select#lang_choice_polylang-4{background:#fff !important;padding:10%;border-radius:10px;border-color:transparent;color:#808080;}select#lang_choice_polylang-4:focus{outline:none;border:none;border-color:transparent}@media only screen and (min-width:992px){.empedrada-header-view-desktop{visibilty:visible;position:relative}.empedrada-header-view-mobile{display:none !important;visibility:hidden;position:absolute;margin-left:-100%}}@media only screen and (max-width:991px){.empedrada-header-view-desktop{display:none;visibility:hidden !important;position:absolute;margin-left:-100%}.empedrada-header-view-mobile{visibilty:visible !important;position:relative}.header-mobile-col{text-align:right}select#lang_choice_polylang-2{padding:2%;margin-bottom:5%;width:40%;margin-left:60%}select#lang_choice_polylang-3{padding:2%;margin-bottom:5%;width:40%;margin-left:60%}select#lang_choice_polylang-4{padding:2%;margin-bottom:5%;width:40%;margin-left:60%}.empedrada-hero-reservation-item{visibility:hidden !important;position:absolute;margin-left:-100%}.site-branding-mobile a img{width:174px !important;height:142px !important}#navbar-header{width:180% !important;margin:0 0 0 -80% !important}}@media only screen and (min-width:768px) and (max-width:1200px) and (orientation:landscape){.site-branding a img{width:auto !important}#primary-menu li{margin:0 10px !important;padding:10px 0 !important}.nav-social-icons ul li{padding:10px 0 !important}.site-call-to-action{padding:0 !important}}@media only screen and (max-width:1200px){#primary-menu li{margin:0 15px}}body{font-family:'Gotham Book',sans serif}.empedrada-features{margin:130px 0}.empedrada-features-title{text-align:center;padding:5% 0 5% 0;}.empedrada-features-title h2{font-family:'Flood std',sans serif !important;color:#cfba2c}.empedrada-features-title p{font-family:'Flood std',sans serif !important;color:#cfba2c;margin-top:0 !important}.feature-text{font-weight:100;}.feature-text p{padding:0 20px}.feature-img img{display:inherit;margin:50px auto;width:30%}.feature-text p{font-size:15px;color:#978376;font-family:'Gotham Bold',sans serif !important}.title-caral{font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px}@media only screen and (max-width:768px){.empredara-section empedrada-features{margin:20px auto}.feature-img img{margin:20px auto}}.empedrada-gallery{background:#e8e8e8}.empedrada-gallery-container{padding:4% 0 5% 0}.empedrada-gallery-title{text-align:center;}.empedrada-gallery-title h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:35px;color:#4a4a4a;letter-spacing:1px;margin-bottom:50px}.empedrada-gallery-more{text-align:center;margin-top:50px;}.empedrada-gallery-more a{text-decoration:none;color:#4a4a4a;}.empedrada-gallery-more a h3{font-size:20px;font-weight:bold}.gallery-col{padding:0 !important}.gallery-item img{width:100%;height:100%}.empedrada-gallery-main{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}.empedrada-gallery-main .gallery-col{width:50%}.empedrada-gallery-more a h3{color:#978376}.gallery-one-four{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}.gallery-one-four .g-item-4{width:50%}@media only screen and (max-width:768px){.empedrada-gallery-main{padding:0 20px}.gallery-col{width:100% !important}}.empedrada-map{position:relative;background-color:#fff;padding:10% 0 2% 0;overflow:hidden}.map-address{padding:0 0 5% 0}.map-address-title h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px}.map-address-desc p{color:#cfba2c;margin:50px 0;font-size:18px;padding:0 40% 0 0}.map-address-address h3{font-family:'Gotham Book',sans serif !important;font-size:18px;font-weight:100;line-height:30px;color:#b5a48a;letter-spacing:1px}.map-item-img{position:absolute;top:15%;right:-7%;width:65%;}.map-item-img img{width:100%}@media only screen and (max-width:768px){.empedrada-map{padding:2.5% 15px}.map-item-img{position:relative;width:100%}.map-address-desc p{margin:25px 0;padding:0 5% 0 0}}.empedrada-offers-container{margin:100px 0}.offers-col-txt{padding:5% 0}.offer-text h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;letter-spacing:1px}.offer-text h3{font-family:'Gotham Book',sans serif !important;font-size:16px;font-weight:100;line-height:30px;color:#978376;letter-spacing:1px;padding:0 40% 0 0 !important;margin:30px 0}.offer-control-slider{display:block;}.offer-control-slider a{position:relative !important;color:#808080 !important;width:50px;height:50px;background:#808080;display:inline-block;}.offer-control-slider a span{padding:25px 0 !important}.carousel-item img{height:auto !important}@media only screen and (max-width:768px){.empedrada-offers-container{margin:25px 0}.offers-col-txt{padding:0 15px}.offer-text h3{padding:0 20% 0 0 !important}}.empedrada-video-container{margin:5% auto;}.empedrada-video-container iframe{width:100% !important}@media only screen and (max-width:768px){.empedrada-video-container{margin:20% auto;}.empedrada-video-container iframe{width:100% !important;height:auto !important;padding:0 15px}}.empedrada-page-row.row{margin:15% 0}.empedrada-page-subtitle{margin:10% 0;}.empedrada-page-subtitle h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px}.empedrada-page-item p{font-family:'Gotham Book',sans serif !important;font-size:15px;font-weight:100;line-height:30px;color:#978376;letter-spacing:1px}.empedrada-page-item.lodge-img-right.col-lg-6:after{content:attr(title);font-family:'Flood std',sans serif;position:absolute;left:12%;top:292px;letter-spacing:3px;color:#fff;font-size:38px;font-weight:700;z-index:999}.empedrada-page-item.lodge-img-left.col-lg-6:after{content:attr(title);font-family:'Flood std',sans serif;position:absolute;right:12%;top:292px;letter-spacing:3px;color:#fff;font-size:38px;font-weight:700;z-index:999}.lodge-img-right{text-align:left;}.lodge-img-right img{width:80%;-webkit-box-shadow:60px 0 0 26px #978376;box-shadow:60px 0 0 26px #978376}.lodge-img-left{text-align:right;}.lodge-img-left img{width:80%;-webkit-box-shadow:-60px 0 0 26px #978376;box-shadow:-60px 0 0 26px #978376}@media only screen and (max-width:768px){.empedrada-page-subtitle h2{margin:5% 0 !important;font-size:25px !important}.lodge-img-right{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;text-align:left;margin:15px 0;}.lodge-img-right img{width:100%;-webkit-box-shadow:40px 0 0 13px #cfba2c;box-shadow:40px 0 0 13px #cfba2c}.lodge-img-left{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;text-align:right;margin:15px 0;}.lodge-img-left img{width:100%;-webkit-box-shadow:-40px 0 0 13px #cfba2c;box-shadow:-40px 0 0 13px #cfba2c}.empedrada-txt-left{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.empedrada-txt-right{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.empedrada-page-item.lodge-img-right.col-lg-6:after{top:170px;left:20%}.empedrada-page-item.lodge-img-left.col-lg-6:after{top:170px;right:20%}}@media only screen and (min-width:768px){.empedrada-txt-left p{padding:0 20% 0 0}.empedrada-txt-right p{padding:0 0 0 20%}}.empedrada-page-banner-header h1{font-family:'Flood std',sans serif !important;font-size:36px;font-weight:bold;line-height:48px;color:#fff;letter-spacing:1px}@media only screen and (max-width:768px){.empedrada-page-banner-header{height:150px !important;}.empedrada-page-banner-header img{width:200% !important}}.empedrada-lodge-location{padding:5% 0;background-color:#fff}.location-title{text-align:center;}.location-title h2{font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.location-title h3{font-size:18px;font-weight:bold;line-height:30px;color:#cfba2c;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.location-address{padding:0 5%;margin:5% 0 2.5% 0;}.location-address h3{font-size:16px;font-weight:bold;line-height:1.1;color:#4a4a4a;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.location-view img{width:100%}.class{display:block}.empedrada-lodge-servicios{padding:5% 0;background-color:#fff}.servicios-title{text-align:center;}.servicios-title h2{font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.servicios-title h3{font-size:18px;font-weight:bold;line-height:30px;color:#cfba2c;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.servicios-items-main{text-align:center;margin:70px 0 0 0}.ico-img img{margin:15px}.ico-desc p{font-size:16px;font-weight:bold;line-height:1.2;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important;margin-top:0;padding:0 20%}.empedrada-lodge-tarifas{background-color:#b5a48a;color:#fff;padding:5% 0}.tarifa-habitacion-main{margin:10% 0 0 0}.tarifa-title{text-align:center;}.tarifa-title h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:30px;color:#fff;letter-spacing:1px}.tarifa-title p{font-family:'Gotham Book',sans serif !important;font-size:18px;font-weight:100;line-height:30px;color:#fff;letter-spacing:1px}.tarifa-description h2{font-family:'Gotham Book',sans serif !important;font-size:36px;font-weight:100;line-height:35px;color:#fff;letter-spacing:1px}.tarifa-description p{font-family:'Gotham Thin',sans serif !important;font-size:26px;font-weight:100;line-height:30px;color:#fff;letter-spacing:1px;padding:0 20% 0 0}.tarifa-description .price{font-family:'Gotham Bold',sans serif !important;font-size:26px;font-weight:100;line-height:30px;color:#fff;letter-spacing:1px}.tarifa-description .offer-control-slider{margin:40px 0 0 0}.tarifa-description .button-transparent{border:solid 2px #fff !important}.tarifas-box-shadow{width:100%;height:120%;background-color:#cfba2c;position:absolute;top:-10%;margin-left:20%}.carousel-tarifas{padding:0 5%}.offer-control-slider{padding:5% 5% 0 5%}.lodge-room-box{border:solid #fff;border-radius:20px;padding:50px 10px}.button-bookig-lodge{margin:50px auto;width:50%}@media only screen and (max-width:768px){.empedrada-lodge-tarifas{margin:15% 0}.empedrada-lodge-tarifa-container{margin:20% 0}.tarifa-description p{font-size:18px;font-weight:100;line-height:30px;color:#fff;letter-spacing:1px;padding:0}.tarifa-description .room-price{font-size:25px;font-weight:400;line-height:30px;color:#fff;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.tarifa-description .button-transparent{margin-bottom:10%}.tarifas-box-shadow{display:none}.lodge-img-right img{-webkit-box-shadow:none;box-shadow:none}}.empedrada-cta{position:relative}.empedrada-cta-background{background-image:url("assets/images/demo/cta-background.jpg");background-position:top center;background-repeat:no-repeat;background-size:cover;height:300px}.empedrada-cta-container{padding-top:60px}.empedrada-cta-title{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around;}.empedrada-cta-title h2{font-family:'Gotham Bold',sans serif !important;font-size:36px;font-weight:bold;line-height:35px;color:#fff;letter-spacing:1px}.empedrada-cta-button{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;font-family:'Gotham Bold',sans serif !important;margin:3% 0}@media only screen and (max-width:768px){.empedrada-cta-title h2{text-align:center}}#navbar-header{-webkit-box-shadow:10px 5px 17px 1px #545454;box-shadow:10px 5px 17px 1px #545454;background:#a1a1a1;position:absolute;width:120%;z-index:9999;top:100%;color:#fff;margin:0 0 0 -10%;padding:10%;}#navbar-header ul{list-style:none;}#navbar-header ul li{margin:1% 0;}#navbar-header ul li a{color:#fff}@media only screen and (max-width:768px){.site-menu-container{margin-top:15%;width:100%;padding:0;margin:15% 0 0 0}.nav-social-icons{margin-top:0%;text-align:right;width:100%}.nav-language{width:100%}}.empedrada-page-banner-header{position:relative;}.empedrada-page-banner-header img{width:100%}.empedrada-page-banner-header h1{width:100%;position:absolute;top:0;margin:0;text-align:center;padding:8% 0 0 0;height:100%;color:#fff}.empedrada-page-subtitle{text-align:center}.page-item-list{font-family:'Gotham Bold',sans serif !important}.empedrada-room-header{background-color:#b5a48a;padding:5% 0;color:#fff}.acomodaciones-room-separator{border-bottom:solid 1px #000}.acomodaciones-title{text-align:center;}.acomodaciones-title h2{font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.acomodaciones-title h3{font-size:18px;font-weight:bold;line-height:30px;color:#cfba2c;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.room-recomendend-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;}.room-recomendend-container .room-recomendend-item{width:30%;}.room-recomendend-container .room-recomendend-item a img{width:100%;height:auto}.empedrada-room-desc{margin:5% auto;}.empedrada-room-desc h2{font-size:36px;font-weight:bold;line-height:35px;color:#fff;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important;padding-top:6% !important}.empedrada-room-desc p{font-size:18px;font-weight:100;line-height:30px;color:#fff;letter-spacing:1px;font-family:'Gotham Thin',sans serif !important;margin:50px 0 !important;padding:0 40% 0 0}.empedrada-room-desc .button-transparent{width:60% !important;padding:20px 0 !important;cursor:pointer;font-family:'Gotham Book',sans serif;letter-spacing:1px}.room-thumbnail img{width:120%;height:auto;right:0}.room-recomendend-item{background:#fff;padding:1.5%}.empedrada-room-header-container{text-align:center !important;}.empedrada-room-header-container h2{font-size:36px;font-weight:bold;line-height:35px;color:#fff;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.empedrada-room-header-container h3{font-size:18px;font-weight:bold;line-height:30px;color:#fff;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.empedrada-room{background:#f5f5f5;padding:5% 0;}.empedrada-room h3{font-size:18px;font-weight:bold;line-height:30px;color:#978376;letter-spacing:1px}.empedrada-room p{font-size:$h3s _font_size;font-weight:100;line-height:30px;color:#978376;letter-spacing:1px}.empedrada-room .room-price{font-size:$h3 _font_size;font-weight:100;line-height:30px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important;text-align:center}.empredada-aditionals{margin:5% 0}.acomodaciones-ico-container{margin:5%}.acomodaciones-content{text-align:center;}.acomodaciones-content .ico-img img{max-width:auto}.acomodaciones-content .ico-desc p{font-family:$emp_gthin !important;font-weight:100 !important;color:#4a4a4a !important}.info-aditional-container{margin:5% 0;font-size:20px}.info-aditional-txt-center{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.empedrada-room-title h2{font-size:36px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important;text-align:center;margin-bottom:5%}.room-desc-list strong{font-family:'Gotham Bold',sans serif}@media only screen and (max-width:768px){.empedrada-room-header{padding-top:50px}.empedrada-room-desc p{padding:0}.empedrada-room-desc .button-transparent{width:100% !important;margin-bottom:50px;font-family:'Gotham Book',sans serif !important;letter-spacing:1px;}.empedrada-room-desc .button-transparent a{font-family:'Gotham Book',sans serif !important}.room-desc{text-align:center}.acomodaciones-title{text-align:center;}.acomodaciones-title h2{font-size:20px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.acomodaciones-title h3{font-size:$h3s_font_size;font-weight:$h3s_font_weight;line-height:$h3s_line_height;color:#cfba2c;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.ico-desc p{font-size:12px !important;padding:0}.info-aditional-container .col-lg-4{margin:20px 0}.empedrada-room{margin-top:10%}.empedrada-room-title{margin-top:10%;}.empedrada-room-title h2{font-size:20px;font-weight:bold;line-height:35px;color:#978376;letter-spacing:1px;font-family:'Gotham Bold',sans serif !important}.room-recomendend-container{-ms-flex-wrap:wrap;flex-wrap:wrap;}.room-recomendend-container .room-recomendend-item{width:100%;padding:5%;margin:5% 0}}